<div class="wrapper">
  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>
  <div class="conainer">
  <div class="header-title">
      <%= @bank.name %>
  </div>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>
</div>
<div class="add_content">
  <div class="content-form">
    <div class="content-form__label text-dark">
      <i class="fas fa-plus-circle">
      <%= @category.subject %>
      </i>
    </div>
    <%= form_with model: @content, url: bank_category_content_path, class: 'form', local: true do |f| %>
      <div class="content-form__field_box text-dark"> 
        <%= f.text_field :detail,class: 'box', autofocus: true %>
      </div>
      <div class='content-form__field_end'>
        <%= f.submit '登録', class: 'category-form__action-btn', data:{ confirm: "内容に間違いはありませんか？", cancel: "やめる", commit: '登録', title: 'Check'} %>
      </div> 
    <% end %>
    <div class = "back_one">
      <%= link_to "ホームへ戻る", root_path, class: 'btn'%>
      <span class="back_two">
      <%= link_to("戻る", :back, {class: 'btn'}) %>
      </span>
    </div>
  </div>
</div>