<div class="wrapper">

  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>

  <div class="page-header">
  <div class="header-title">
      <%= @bank.name %>
  </div>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>
</div>

<div class="data">
  <div class="data-display">
    <div class="category_detail">
      <% @bank.categories.each do |category| %>
          <div class="group">
            <%=category.subject %>
          </div>
      <% end %>
    </div>
    <div class="content_detail">
      <% @bank.contents.each do |content| %>
          <div class="group">
            <%= content.detail %>
          </div>
      <% end %>
    </div>
    <div class="content_user">
      <% @bank.contents.each do |content| %>
          <div class="group">
            <%= content.user.name %>
          </div>
      <% end %>
    </div>
    <div class="content_time">
      <% @bank.contents.each do |content| %>
          <div class="group">
            <%= l content.updated_at, format: :short %>
          </div>
      <% end %>
    </div>
    <div class="category_btn">
      <% @bank.categories.each do |category| %>
          <div class="group">
            <%=link_to("登録", new_bank_category_content_path(@bank.id ,category.id),{class: "btn-square-little-rich"}) %>
          </div>
      <% end %>
    </div>
    <div class="category_edit">
      <% @bank.contents.each do |content| %>
          <div class="group">
            <%=link_to("編集", edit_bank_category_content_path(content.bank_id, content.category_id, content.id),{class: "btn-square-little-rich"}) %>
          </div>
      <% end %>
    </div>
</div>