<div class="wrapper">

  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>

  <div class="conainer">
  <div class="header-title">
      <%= @bank.name %>
  </div>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>
</div>

<div class="data">
  <div class="data-display">
    <div class="category_detail">
      <div class="group_head bg-info text-white">
          カテゴリー
      </div>
      <% @bank.categories.each do |category| %>
          <div class="group text-dark">
            <%=category.subject %>
          </div>
      <% end %>
    </div>
    <div class="content_detail">
      <div class="group_head bg-info text-white">
          内容
      </div>
      <% @bank.contents.each do |content| %>
          <div class="group text-dark">
            <%= content.detail %>
          </div>
      <% end %>
    </div>
    <div class="content_user">
      <div class="group_head bg-info text-white">
          担当者
      </div>
      <% @bank.contents.each do |content| %>
          <div class="group text-dark">
            <%= content.user.name %>
          </div>
      <% end %>
    </div>
    <div class="content_time">
      <div class="group_head bg-info text-white">
          登録・編集日時
      </div>
      <% @bank.contents.each do |content| %>
          <div class="group text-dark">
            <%= l content.updated_at, format: :short %>
          </div>
      <% end %>
    </div>
    <div class="content_new">
      <div class="group_head bg-info text-white">
          登録
      </div>
      <% @bank.categories.each do |category| %>
          <div class="group text-dark">
            <%=link_to("", new_bank_category_content_path(@bank.id ,category.id),{class: "fas fa-briefcase"}) %>
          </div>
      <% end %>
      
    </div>
    <div class="content_edit">
      <div class="group_head bg-info text-white">
          編集
      </div>
      <% @bank.contents.each do |content| %>
          <div class="group text-dark">
            <%=link_to("", edit_bank_category_content_path(content.bank_id, content.category_id, content.id),{class: "fas fa-brush"}) %>
          </div>
      <% end %>
    </div>
  </div>
</div>