<div class="wrapper">

  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>

  <div class="conainer">
  <div class="header-title">
      <%= @bank.name %>
  </div>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>
</div>

  <div class="content">
    <div class="category_detail">
          <div class="group text-dark">
            <%= @category_at.subject %>
            <%= form_with model: @content, url: bank_category_contents_path, class: 'form', local: true do |f| %>
              <div class="form-input text-dark"> 
                <%= f.text_field :detail, class: 'form-message', placeholder: '最新情報を登録' %>
                <%= f.submit '登録', class: 'form-submit',data:{ confirm: "内容に間違いはありませんか？"} %>
              </div> 
            <% end %>
          </div>
    </div>
  </div>
  <ul>
  <% # errorsに入っているエラー内容を出力する %>
  <% @content.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
