<div class="wrapper">
  <div class="side-bar">
    <%# <%= render "categories/side_bar" %>
  </div>
  <div class="conainer">
  <div class="header-title">
      <%= "アカウント作成" %>
  </div>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>
</div>
<div class="add_user">
  <div class="content-form">
    <%= form_with model: resource,class: 'form' , as: resource_name, url: registration_path(resource_name), local: true do |f|%>
      <%= devise_error_messages!%>
      <div class="content-form__label text-dark">
        <i class="fas fa-plus-circle">
          <%= "名前" %>
        </i>
      </div>
      <div class="content-form__field_box text-dark">
        <%= f.text_field :name, class: 'box', autofocus: true %>
      </div>
      <div class="content-form__label text-dark">
        <i class="fas fa-plus-circle">
          <%= "担当金融機関" %>
        </i>
      </div>
      <div class="content-form__field_box text-dark"> 
        <%= f.text_field :officer, class: 'box', autofocus: true %>
      </div>
      <div class="content-form__label text-dark">
        <i class="fas fa-plus-circle">
          <%= "メールアドレス" %>
        </i>
      </div>
      <div class="content-form__field_box text-dark"> 
        <%= f.email_field :email, class: 'box', autofocus: true %>
      </div>
      <div class="content-form__label text-dark">
        <i class="fas fa-plus-circle">
          <%= "パスワード" %>
        </i>
      </div>
      <div class="content-form__field_box text-dark">
        <%= f.password_field :password, class:'box',  autocomplete: "off"%>
      </div>
      <div class="content-form__label text-dark">
        <i class="fas fa-plus-circle">
          <%= "パスワード（確認用）" %>
        </i>
      </div>
      <div class="content-form__field_box text-dark">
        <%= f.password_field :password_confirmation , class:'box',  autocomplete: "off"%>
      </div>
      <div class="content-form__label text-dark">
        <i class="fas fa-plus-circle">
          <%= "認証キー" %>
        </i>
      </div>
      <div class="content-form__field_box text-dark">
        <%= f.text_field :authentication_key, class:'box', autocomplete: "off"%>
      </div>
      <div class='content-form__field_end'>
        <%= f.submit '登録', class: 'category-form__action-btn', data:{ confirm: "内容に間違いはありませんか？", cancel: "やめる", commit: '登録', title: 'Check'} %>
      </div> 
    <% end %>
    <div class = "back_one">
      <span class="delete_one">
        <%= link_to "ログイン画面へ", user_session_path, class:'btn' %>
      </span>
      <%= link_to "ホームへ戻る", root_path, class: 'btn'%>
      <span class="back_two">
      <%= link_to("戻る", :back, {class: 'btn'}) %>
      </span>
    </div>
  </div>
</div>