<div class="conainer">
  <div class="header-title">
      <b>保証事業本部掲示板</b>
  </div>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
</div>
<div class="subtitle text-dark">
      <b>変更履歴</b>
</div>
<div class = "data">
  <div class="home_data-display">  
      <div class="bank_detail">
        <div class="group_head bg-info text-white">
            金融機関名
        </div>
        <% @all_content.each do |content| %>
            <div class="group text-dark" >
              <%=content.bank.name %>
            </div>
        <% end %>
      </div>
      <div class="category_detail">
        <div class="group_head bg-info text-white">
          カテゴリー
        </div>
        <% @all_content.each do |content| %>
            <div class="group text-dark">
              <%=content.category.subject %>
            </div>
        <% end %>
      </div>
      <div class="content_detail">
        <div class="group_head bg-info text-white">
          内容
        </div>
        <% @all_content.each do |content| %>
            <div class="group text-dark">
              <%= content.detail %>
            </div>
        <% end %>
      </div>
      <div class="content_user">
        <div class="group_head bg-info text-white">
            担当者
        </div>
        <% @all_content.each do |content| %>
            <div class="group text-dark">
              <%= content.user.name %>
            </div>
        <% end %>
      </div>
      <div class="content_time">
        <div class="group_head bg-info text-white">
            変更日時
        </div>
          <% @all_content.each do |content| %>
            <div class="group text-dark">
              <%= l content.updated_at, format: :short %>
            </div>
          <% end %>
      </div>
  </div>
</div>