<div class="conainer">
  <div class="header-title">
      <b>保証事業本部掲示板</b>
  </div>
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
</div>
<div class="subtitle text-dark">
      <b>変更履歴</b>
</div>
<div class = "data">
  <div class="home">  
      <div class="home-bank">
        <div class="group bg-info text-white">
            金融機関名
        </div>
        <% @contents.each do |content| %>
            <div class="group text-dark" >
              <%=content.bank.name %>
            </div>
        <% end %>
      </div>
      <div class="home-category">
        <div class="group bg-info text-white">
          カテゴリー
        </div>
        <% @contents.each do |content| %>
            <div class="group text-dark">
              <%=content.category.subject %>
            </div>
        <% end %>
      </div>
      <div class="home-content">
        <div class="group bg-info text-white">
          内容
        </div>
        <% @contents.each do |content| %>
            <div class="group text-dark">
              <%= content.detail %>
            </div>
        <% end %>
      </div>
      <div class="home-user">
        <div class="group bg-info text-white">
            担当者
        </div>
        <% @contents.each do |content| %>
            <div class="group text-dark">
              <%= content.user.name %>
            </div>
        <% end %>
      </div>
      <div class="home-date">
        <div class="group bg-info text-white">
            内容
        </div>
          <% @contents.each do |content| %>
            <div class="group text-dark">
              <%= l content.updated_at, format: :short %>
            </div>
          <% end %>
      </div>
  </div>
</div>