<header>
  <div class="side">
    <div id="nav-drawer">
    <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
        <div class="side-bar-header">
          <div class="header-name">
            <%= link_to current_user.name, edit_user_path(current_user) %>
          </div>
          <div class="sign-out text-dark">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
          <div class = "back text-dark">
            <%= link_to "ホームへ", root_path, class: 'btn'%>
          </div>
        </div>

        <div class="finances">
          <div class="create-finance text-dark">
            <%= link_to "出向先追加", new_bank_path %>
          </div>
          <% @all_bank.each do |bank| %>
            <div class="side_group">
              <div class="group-name text-dark">
                <%= link_to(bank.name, bank_contents_path(bank), {class: "fas fa-university"}) %>
                <span class = "edit_bank"><%= link_to("", edit_bank_path(bank), {class: "fas fa-pen-square"}) %> </span>
              </div>
            </div>
          <% end %>
        </div>

        <div class="groups">
          <div class="create-group text-dark">
            <%= link_to "カテゴリー作成", new_category_path %>
          </div>
          <% @all_category.each do |category| %>
            <div class="side_group">
              <div class="group-name text-dark">
                <%= link_to(category.subject, category_contents_index2_path(category), {class:"fas fa-book"}) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
<div class = "data1">

</div>