<div class="wrapper">

  <div class="side-bar">
    <%= render "categories/side_bar" %>
  </div>

  <div class="conainer">
  <div class="header-title">
      <%= "カテゴリー追加" %>
  </div>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
  </div>
</div>
  <div class='category-form'>
    <%=form_with model: @category, local: true do |f|%>
      <div class='category-form__field'>
        <div class='category-form__field_side'>
          <%= f.label :カテゴリー, class: 'category-form__label'%>
        </div>
        <div class='category-form__field_box'>
          <%= f.text_field :subject, class: 'category-form__input', placeholder: '残高、商品名など'%>
        </div>
        <div class='category-form__field_side'>
          <%= f.label :並びかえ要素, class: 'category-form__label'%>
        </div>
        <div class='category-form__field_box'>
          <%= f.number_field :number, class: 'category-form__input', placeholder: '並び替えの指標数値'%>
        </div>
        <div class='category-form__field_box'>
          <%= f.collection_check_boxes(:bank_ids, Bank.all, :id, :name) do |b| %>
            <% b.label(class: "check_box") { b.check_box(checked: true, class: "add_margin") + b.text } %>
          <% end %>
        </div>
      </div>
      <div class='category-form__field_end'>
        <%= f.submit "作成" ,class: 'category-form__action-btn' ,data:{ confirm: "内容に間違いはありませんか？"} %>
      </div>
    <% end %>
    <div class = "back_one">
      <%= link_to "ホームへ戻る", root_path, class: 'btn'%>
    </div>
  </div>